<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/index.js"></script>
  <title>Current Stream // Identity</title>
  <link rel="icon" type="image/png" href="favicon1.png"/>
</head>

<body>
  <h1><a href="http://current.mu">THE CURRENT // IDENTITY</a></h1>


  <div class="fullscreen">
    <div class="video">
      <div class="wrapper">
        <iframe class="vimeo" id="videoIframe" src="https://player.vimeo.com/video/222431003?background=1autoplay=1&amp;loop=1&amp;title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>


  <div style="position: absolute; left: 50%;">
    <div style="position: relative; left: -50%;">
      <div class="name">
        <input type="text" placeholder="A screenname to call your own" id="name" />
      </div>
    </div>
  </div>

  <!-- <div class="name">
    <input type="text" placeholder="A screenname to call your own" id="name" />
  </div> -->
  <div class="chat">
    <div id="chatbox">
      <form id="messageForm">
        <textarea rows="4" cols="50" placeholder="" maxlength="200" id="outgoingMessage"></textarea>
      </form>
    </div>
    <div id="buddylist"><b id="buddylistTitle">People here with you:</b><br/>
      <div id="participants"></div>
    </div>
  </div>
  <div class="chat" id="messages"></div>


  <iframe id="stream" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FCurrentMuseum%2Fvideos%2F702590980128867%2F&show_text=0&width=560" width="1000" height="800" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
    allowTransparency="true" allowFullScreen="true"></iframe>

  <div class="credit">Video src: SNOW YUNXUE FU – 'SIDE' (2017)</div>
  <div id="host">Hosted online by Melanie Hoff, 360° livestream powered by Gate Reality</div>
  <input type="text" placeholder="magic" id="magicInput">
</body>

</html>
