doctype html
html
  head
    <!-- link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Ubuntu|Work+Sans') -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu|Work+Sans" rel="stylesheet">

    link(rel='stylesheet', href='/css/style.css')
    script(src='//code.jquery.com/jquery-1.11.0.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/index.js')
    title Current Salon Stream
  body
    h1 THE CURRENT SALON // IDENTITY
    <!-- <iframe id="stream" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FCurrentMuseum%2Fvideos%2F654859708235328%2F&show_text=0&width=560" width="1000" height="800" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe> -->

    div.flexcontainer
      div.commingsoon Livestream 02.20.18
    div.credit Video src: SNOW YUNXUE FU – 'SIDE' (2017)
    div.fullscreen
      div.video
        div.wrapper
          iframe#videoIframe(src='https://player.vimeo.com/video/222431003?background=1autoplay=1&loop=1&title=0&byline=0&portrait=0', width='500', height='281', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
